<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-signals/core-signals.html">
<link rel="import" href="../../../bower_components/core-icons/communication-icons.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<polymer-element name="contact-card" attributes="contact">
    <template>
        <link rel="stylesheet" href="contact-card.css">
        <core-signals on-core-signal-update-contact="{{ updateContact }}"></core-signals>
        <template if="{{ contact }}">
            <core-toolbar class="tall">
                <div flex></div>
                <div class="controls">
                    <paper-icon-button icon="create" role="button" aria-label="edit"></paper-icon-button>
                    <paper-icon-button icon="star" role="button" aria-label="favorite" class="favorite {{ {active: contact.favorite} | tokenList }}" on-click="{{ toggleFavorite }}"></paper-icon-button>
                    <paper-icon-button icon="redo" role="button" aria-label="some action"></paper-icon-button>
                    <paper-menu-button class="side-vert-menu">
                        <paper-icon-button icon="more-vert" role="button" tabindex="2" aria-label="menu"></paper-icon-button>
                        <paper-dropdown class="dropdown" transition="">
                            <core-menu class="menu">
                                <paper-item>Some action</paper-item>
                                <paper-item>Some action</paper-item>
                            </core-menu>
                        </paper-dropdown>
                    </paper-menu-button>
                </div>
                <div flex class="bottom indent">
                    {{ contact.name }}
                </div>
            </core-toolbar>
            <div id="info-container">
                <div class="group-container phone-group" horizontal layout>
                    <div class="contact-group-sign" flex one horizontal layout>
                        <core-icon icon="communication:phone"></core-icon>
                    </div>
                    <div class="contact-group-info" flex five>
                        <section>
                            <div class="prop-container" horizontal layout>
                                <div class="desription" flex self-start>
                                    <div class="prop">{{ contact.phone }}</div>
                                    <div class="bottom-label">Mobile</div>
                                </div>
                                <div class="controls" >
                                    <paper-icon-button icon="communication:chat"></paper-icon-button>
                                </div>
                            </div>
                            <div class="prop-container" horizontal layout>
                                <div class="desription" flex self-start>
                                    <span class="prop">{{ contact.phone }}</span>
                                    <div flex class="bottom-label">Work</div>
                                </div>
                                <div class="controls">
                                    <paper-icon-button icon="communication:chat"></paper-icon-button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="group-container phone-group" horizontal layout>
                    <div class="contact-group-sign" flex one horizontal layout>
                        <core-icon icon="communication:email"></core-icon>
                    </div>
                    <div class="contact-group-info" flex five>
                        <section>
                            <div class="prop-container" horizontal layout>
                                <div class="desription" flex self-start>
                                    <div class="prop">{{ contact.email }}</div>
                                    <div class="bottom-label">Personal</div>
                                </div>
                            </div>
                            <div class="prop-container">
                                <div class="desription">
                                    <span class="prop">{{ contact.email }}</span>
                                    <div flex class="bottom-label">Work</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </template>

    </template>

    <script>
        Polymer({
            contact: null,

            updateContact: function(e, detail, sender) {
                this.contact = detail.contact;
            },

            toggleFavorite: function() {
                this.contact.favorite = !this.contact.favorite;
                this.fire('core-signal', {
                    name: "update-favorite",
                    data: {
                        contact: this.contact
                    }
                });
                Users.updateUser(this.contact);
            }

        });
    </script>
</polymer-element>