.contact-group-info {
    margin: 8px;
}

.group-container {
    border-bottom: 1px solid #C9C9C9;
}

.group-container:last-child {
    border-bottom: 0;
}

.contact-group-sign {
    justify-content: center;
    margin-top: 35px;
    color: #8D8D8D;
}

.prop-container {
    padding: 20px 0;
}

.bottom-label {
    color: #8D8D8D;
    font-size: 14px;
    margin-top: 3px;
}

.favorite.active {
    color: #ffff00;
}

core-menu {
    margin: 0;
}

.side-vert-menu paper-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    width: 150px;
}