<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="contacts-list/contacts-list.html">
<link rel="import" href="contact-card/contact-card.html">

<polymer-element name="app-layout">
    <template>
        <style>
            :host {
                height: 100%;
                margin: 0;
            }

            core-header-panel {
                height: 100%;
            }

            core-toolbar {
                background: #526E9C;
                color: white;
            }

            .drawer-panel{
                background: #fff;
            }

            .main-panel {
                overflow: auto;
            }
        </style>

        <core-drawer-panel id="drawerPanel" drawerWidth="{{ drawerPanelWidth }}">
            <core-header-panel drawer class="drawer-panel" >
                <core-toolbar id="header">
                    <paper-icon-button id="navicon" icon="menu" role="button" tabindex="0" aria-label="menu" core-drawer-toggle></paper-icon-button>
                </core-toolbar>
                <contacts-list></contacts-list>
            </core-header-panel>

            <core-header-panel main class="main-panel">
                <core-toolbar id="mainheader">
                    <paper-icon-button id="navicon2" icon="menu" core-drawer-toggle></paper-icon-button>
                </core-toolbar>
                <div class="content">
                    <contact-card></contact-card>
                </div>
            </core-header-panel>

        </core-drawer-panel>
    </template>

    <script>
        Polymer({
            drawerPanelWidth: '30%',

            ready: function() {
                var me = this;
                window.onresize = function(event) {
                    me.changeDrawerWidth();
                };
                me.changeDrawerWidth();
            },

            changeDrawerWidth: function() {
                if(document.body.clientWidth < 800 && document.body.clientWidth > 400) {
                    this.drawerPanelWidth = '50%';
                }
                else if(document.body.clientWidth < 400) {
                    this.drawerPanelWidth = '90%';
                }
                else {
                    this.drawerPanelWidth = '30%';
                }
            }

        });
    </script>
</polymer-element>
