<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<polymer-element name="contacts-list" drawer>
    <template>
        <link rel="stylesheet" href="contacts-list.css">
        <core-toolbar>
            <paper-dropdown-menu>
                <paper-dropdown class="dropdown">
                    <core-menu class="menu" selected="all">
                        <paper-item name="all">All</paper-item>
                        <paper-item name="favorites">Favorites</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
        <span id="searchContainer" class="hidden" flex>
            <paper-input-decorator>
                <input type="text" is="core-input" id="contactFilter" on-input="{{ filterUsers }}" on-blur="{{ checkFilter }}" pattern="[0-9]*">
            </paper-input-decorator>
        </span>
            <paper-icon-button icon="search" role="button" tabindex="1" aria-label="search" on-click="{{ showSearch }}"></paper-icon-button>
            <paper-icon-button icon="more-vert" role="button" tabindex="2" aria-label="menu"></paper-icon-button>
        </core-toolbar>
        <div class="content">
            <core-menu valueattr="label" id="core_menu" theme="core-light-theme" selected="0" on-core-select="{{ selectContact }}">
                <template repeat="{{ user in users }}">
                    <paper-item label="{{ user.name }}" horizontal center layout>{{ user.name }}</paper-item>
                </template>
            </core-menu>
        </div>
    </template>

    <script>
        Polymer('contacts-list', {
            users: [],

            ready: function() {
                this.users = Users.getUserList();
                console.log('ready');
            },

            showSearch: function() {
                this.$.searchContainer.classList.remove('hidden');
                this.$.contactFilter.focus();
            },

            hideSearch: function() {
                this.$.searchContainer.classList.add('hidden');
            },

            checkFilter: function() {
                var filterValue = this.$.contactFilter.value;
                if(!filterValue) {
                    this.hideSearch();
                    return false;
                }
                return true;
            },

            filterUsers: function() {
                var checked = this.checkFilter();
                if(!checked) {
                    return false;
                }
            },

            selectContact: function(e, contact) {
                if (contact.isSelected) {
                    var selectedItem = contact;
                }

            }

        });
    </script>
</polymer-element>
