<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="contact-item.html">

<polymer-element name="contacts-list">
    <template>
        <link rel="stylesheet" href="contacts-list.css">
        <core-toolbar>
            <paper-dropdown-menu>
                <paper-dropdown class="dropdown">
                    <core-menu class="menu" selected="all">
                        <paper-item name="all">All</paper-item>
                        <paper-item name="favorites">Favorites</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
        <span id="searchContainer" class="hidden" flex>
            <paper-input-decorator>
                <input type="text" is="core-input" id="contactFilter" on-input="{{ filterUsers }}" on-blur="{{ checkFilter }}" pattern="[0-9]*">
            </paper-input-decorator>
        </span>
            <paper-icon-button icon="search" role="button" tabindex="1" aria-label="search" on-click="{{ showSearch }}"></paper-icon-button>
            <paper-icon-button icon="more-vert" role="button" tabindex="2" aria-label="menu"></paper-icon-button>
        </core-toolbar>
        <div class="content" id="contactsList">
            <div class="favorite-container contact-group flexbox">
                <div class="col contact-group-name" horizontal layout>
                    <core-icon icon="star" class="group-sign" flex></core-icon>
                </div>
                <div class="col contact-group-menu">
                    <ul>
                        <template repeat="{{ user in groups.favoriteGroup }}">
                            <li on-click="{{ selectItem }}">
                                <contact-item contact="{{ user }}"></contact-item>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <template repeat="{{ group in groups.all }}">
                <div class="contact-group flexbox">
                    <div class="col contact-group-name" horizontal layout>
                        <span class="group-sign" flex>{{ group.name }}</span>
                    </div>
                    <div class="col contact-group-menu">
                        <ul>
                            <template repeat="{{ user in group.contacts }}">
                                <li on-click="{{ selectItem }}">
                                    <contact-item contact="{{ user }}"></contact-item>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </template>
        </div>
    </template>

    <script>
        Polymer('contacts-list', {
            users: [],
            groups: {},

            ready: function() {
                this.initUsers();
            },

            initUsers: function() {
                var users = Users.getUserList();
                users.sort(function(a, b){
                    if(a.name < b.name) return -1;
                    if(a.name > b.name) return 1;
                    return 0;
                });
                this.users = users;
                this.groups = this.splitUsersByGroup(users);
                console.log(this.users);
                console.log(this.groups);
            },

            splitUsersByGroup: function(users) {
                var groups = {};

                groups.favoriteGroup = users.filter(function(_user) {
                    return _user.favorite;
                });

                groups.all = [];
                var letterGroups = {};
                for (var i = 0; i < users.length; i++) {
                    var user = users[i];
                    var firstChar = user.name.charAt(0);
                    letterGroups[firstChar] = letterGroups[firstChar] || [];
                    letterGroups[firstChar].push(user);
                }
                for (var key in letterGroups) {
                    groups.all.push({
                        name: key.toUpperCase(),
                        contacts: letterGroups[key]
                    })
                }

                return groups;
            },

            showSearch: function() {
                this.$.searchContainer.classList.remove('hidden');
                this.$.contactFilter.focus();
            },

            hideSearch: function() {
                this.$.searchContainer.classList.add('hidden');
            },

            checkFilter: function() {
                var filterValue = this.$.contactFilter.value;
                if(!filterValue) {
                    this.hideSearch();
                    return false;
                }
                return true;
            },

            filterUsers: function() {
                var checked = this.checkFilter();
                if(!checked) {
                    return false;
                }
            },

            setItemsInactive: function() {
                var menuList = this.$.contactsList.getElementsByClassName('contact-group-menu');
                for (var i = 0; i < menuList.length; i++) {
                    var menu = menuList[i];
                    var liList = menu.getElementsByTagName('li');
                    for (var j = 0; j < liList.length; j++) {
                        var _li = liList[j];
                        _li.classList.remove('active')
                    }
                }
            },

            selectItem: function(e) {
                this.setItemsInactive();
                var li = e.currentTarget;
                li.classList.add("active");
            }

        });
    </script>
</polymer-element>

