:host {
    height: 100%;
}

#contactsList {
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hidden {
    visibility: hidden;
}

paper-dropdown-menu {
    border-bottom: 0;
}

core-menu {
    margin: 0;
}

.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.contact-group-name {
    flex: 0.1;
    color: #8D8D8D;
}

.contact-group-menu {
    flex: 0.9;
}

.contact-group-name .group-sign {
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
}

.contact-group .contact-group-menu {
    border-bottom: 1px solid #C9C9C9;
}

.contact-group-menu li.active {
    background-color: #eaeaea;
}

.side-vert-menu paper-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    width: 150px;
}

core-toolbar {
    background-color: #CFD8DC!important;
    color: #000000!important;
}