<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-signals/core-signals.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="contact-item.html">

<polymer-element name="contacts-list">
    <template>
        <link rel="stylesheet" href="contacts-list.css">
        <core-signals on-core-signal-update-favorite="{{ updateFavorite }}"></core-signals>
        <core-toolbar>
            <paper-dropdown-menu>
                <paper-dropdown class="dropdown">
                    <core-menu class="menu" selected="0" on-core-select="{{ filterByGroup }}">
                        <paper-item name="all">All</paper-item>
                        <paper-item name="favorite">Favorites</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
            <span id="searchContainer" class="hidden" flex>
                <paper-input-decorator>
                    <input type="text" is="core-input" id="contactFilter" on-blur="{{ checkFilter }}" pattern="[0-9]*" value="{{ filterValue }}" on-keyup="{{ filterUsers }}">
                </paper-input-decorator>
            </span>
            <paper-icon-button icon="search" role="button" tabindex="1" aria-label="search" on-click="{{ showSearch }}"></paper-icon-button>
            <paper-menu-button class="side-vert-menu">
                <paper-icon-button icon="more-vert" role="button" tabindex="2" aria-label="menu"></paper-icon-button>
                <paper-dropdown class="dropdown" transition="">
                    <core-menu class="menu">
                        <paper-item>Some action</paper-item>
                        <paper-item>Some action</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-menu-button>
        </core-toolbar>
        <div class="content" id="contactsList" flex>
            <template repeat="{{ group in filteredGroups }}">
                <template if="{{ group.contacts.length > 0 }}">
                    <div class="contact-group flexbox" >
                        <div class="col contact-group-name" horizontal layout>
                            <template if="{{ group.name === 'favorite' }}">
                                <core-icon icon="star" class="group-sign" flex></core-icon>
                            </template>
                            <template if="{{ group.name !== 'favorite' }}">
                                <span class="group-sign" flex>{{ group.name }}</span>
                            </template>
                        </div>
                        <div class="col contact-group-menu">
                            <ul>
                                <template repeat="{{ user in group.contacts }}">
                                    <li on-click="{{ selectItem }}" data-user-id="{{ user.id }}">
                                        <contact-item contact="{{ user }}"></contact-item>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </template>
            </template>
        </div>
    </template>

    <script>
        Polymer('contacts-list', {
            users: [],
            groups: {},
            filteredGroups: {},
            filterValue: '',

            ready: function() {
                this.initUsers();
            },

            domReady: function() {
                this.selectDefaultUser();
            },

            initUsers: function() {
                var users = Users.getUserList();
                users.sort(function(a, b){
                    if(a.name < b.name) return -1;
                    if(a.name > b.name) return 1;
                    return 0;
                });
                this.users = users;
                this.groups = this.splitUsersByGroup(users);
                this.filteredGroups = this.splitUsersByGroup(users);
            },

            splitUsersByGroup: function(users) {
                var groups = [];

                var favoriteContacts = users.filter(function(_user) {
                    return _user.favorite;
                });

                groups[0] = {
                    name: 'favorite',
                    contacts: favoriteContacts
                };


                var letterGroups = {};
                for (var i = 0; i < users.length; i++) {
                    var user = users[i];
                    var firstChar = user.name.charAt(0);
                    letterGroups[firstChar] = letterGroups[firstChar] || [];
                    letterGroups[firstChar].push(user);
                }
                for (var key in letterGroups) {
                    groups.push({
                        name: key.toUpperCase(),
                        contacts: letterGroups[key]
                    })
                }

                return groups;
            },

            showSearch: function() {
                this.$.searchContainer.classList.remove('hidden');
                this.$.contactFilter.focus();
            },

            hideSearch: function() {
                this.$.searchContainer.classList.add('hidden');
            },

            checkFilter: function() {
                var filterValue = this.$.contactFilter.value;
                if(!filterValue) {
                    this.hideSearch();
                    return false;
                }
                return true;
            },

            filterUsers: function() {
                var term = this.$.contactFilter.value;
                for (var i = 0; i < this.groups.length; i++) {
                    var group = this.groups[i];
                    var filterGroup = this.filteredGroups[i];
                    if(filterGroup) {
                        filterGroup.contacts = group.contacts.filter(function (contact) {
                            return contact.name.toLowerCase().indexOf(term.toLowerCase()) !== -1
                        });
                    }
                }
            },

            setItemsInactive: function() {
                var menuList = this.$.contactsList.getElementsByClassName('contact-group-menu');
                for (var i = 0; i < menuList.length; i++) {
                    var menu = menuList[i];
                    var liList = menu.getElementsByTagName('li');
                    for (var j = 0; j < liList.length; j++) {
                        var _li = liList[j];
                        _li.classList.remove('active')
                    }
                }
            },

            selectItem: function(e) {
                this.setItemsInactive();
                var li = e.currentTarget;
                li.classList.add("active");
            },

            updateFavorite: function(e, detail, sender) {
                var user = detail.contact;
                var favId;
                for (var j = 0; j < this.groups.length; j++) {
                    if(this.groups[j].name === 'favorite') {
                        favId = j;
                        break;
                    }
                }
                if (user.favorite) { // if favorite add to this group
                    this.groups[favId].contacts.push(user);
                    this.filteredGroups[favId].contacts.push(user);
                }
                else { // else remove from favorite group
                    var findId;
                    for (var i = 0; i < this.groups[0].contacts.length; i++) {
                        var contact = this.groups[0].contacts[i];
                        if (contact.id === user.id) {
                            findId = i;
                            break;
                        }
                    }
                    if(findId != undefined) {
                        this.groups[favId].contacts.splice(findId, 1);
                        this.filteredGroups[favId].contacts.splice(findId, 1);
                    }
                }
            },

            filterByGroup: function(e, detail) {
                if (detail.isSelected) {
                    var selectedItem = detail.item;
                    var name = selectedItem.getAttribute('name');
                    if(name === 'all') {
                        this.filteredGroups = (JSON.parse(JSON.stringify(this.groups)));
                    }
                    else {
                        this.filteredGroups = this.filteredGroups.filter(function(group) {
                             return group.name === name;
                        });
                    }
                }
            },

            selectDefaultUser: function() {
                var menuList = this.$.contactsList.getElementsByClassName('contact-group-menu');
                if(menuList.length > 0) {
                    var liList = menuList[0].getElementsByTagName('li');
                    if(liList.length > 0) {
                        var li = liList[0];
                        var userId = li.getAttribute('data-user-id');
                        var user = this.users.filter(function(_user) {
                            return _user.id === parseInt(userId);
                        });
                        if(user.length > 0) {
                            this.fire('core-signal', {
                                name: "update-contact",
                                data: {
                                    contact: user[0]
                                }
                            });
                            li.click();
                        }
                    }
                }
            }
        });
    </script>
</polymer-element>

